.suges
  .mira 
    .vila.bold 
      %h1
        .lable
          = "#{params.inspect}"
      %h2
        .lable
          = "#{@country.inspect}"         
      = image_tag(url_for(@country.flag), class: 'some-class')